In [5]:
import pandas as pd
import requests

from openpyxl import load_workbook
from openpyxl import Workbook

In [22]:
#url = 'https://www.worldfootball.net/schedule/eng-premier-league-2022-2023-spieltag/1/'
#url2 = 'https://www.worldfootball.net/schedule/eng-premier-league-2022-2023-spieltag/{x}/'

x = 1
y = str(x)

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

df_concat = []
df_concat = pd.DataFrame(df_concat)

while x <= 38:
  url = f'https://www.worldfootball.net/schedule/eng-premier-league-2022-2023-spieltag/{y}/'
  r = requests.get(url, headers=header)
  dfs = pd.read_html(r.text)
  df = dfs[1]
  df_url = df[[0, 1, 2, 4, 5]]
  df_url = pd.DataFrame(df_url)
  df_concat = pd.concat([df_concat, df_url])
  x = x + 1
  y = str(x)

tabla = df_concat

print(tabla)

             0      1                  2                        4          5
0   05/08/2022  20:00     Crystal Palace               Arsenal FC  0:2 (0:1)
1   06/08/2022  12:30          Fulham FC             Liverpool FC  2:2 (1:0)
2          NaN  15:00    AFC Bournemouth              Aston Villa  2:0 (1:0)
3          NaN  15:00       Leeds United  Wolverhampton Wanderers  2:1 (1:1)
4          NaN  15:00   Newcastle United        Nottingham Forest  2:0 (0:0)
..         ...    ...                ...                      ...        ...
5          NaN  16:30         Everton FC          AFC Bournemouth  1:0 (0:0)
6          NaN  16:30     Southampton FC             Liverpool FC  4:4 (2:2)
7          NaN  16:30       Leeds United        Tottenham Hotspur  1:4 (0:1)
8          NaN  16:30     Leicester City          West Ham United  2:1 (1:0)
9          NaN  16:30  Manchester United                Fulham FC  2:1 (1:1)

[380 rows x 5 columns]

In [53]:
print(df_concat.shape)
print(df_concat.ndim)

x = 1
y = str(x)

tabla_sorted = []
tabla_sorted = pd.DataFrame(tabla_sorted)

while x <= 38:
  url = f'https://www.worldfootball.net/schedule/eng-premier-league-2022-2023-spieltag/{y}/'
  r = requests.get(url, headers=header)
  dfs = pd.read_html(r.text)
  df = dfs[1]
  sort_cols = df[[0,1,2,5,4]]
  sort_cols = pd.DataFrame(sort_cols)
  tabla_sorted = pd.concat([tabla_sorted, sort_cols])
  x = x + 1
  y = str(x)

tabla_sorted = tabla_sorted.fillna(axis=0, method='ffill').fillna(0)

print(tabla_sorted)

tabla_sorted.to_excel('fixturesTEST.xlsx', sheet_name='Fixtures')

(380, 5)
2
             0      1                  2          5                        4
0   05/08/2022  20:00     Crystal Palace  0:2 (0:1)               Arsenal FC
1   06/08/2022  12:30          Fulham FC  2:2 (1:0)             Liverpool FC
2   06/08/2022  15:00    AFC Bournemouth  2:0 (1:0)              Aston Villa
3   06/08/2022  15:00       Leeds United  2:1 (1:1)  Wolverhampton Wanderers
4   06/08/2022  15:00   Newcastle United  2:0 (0:0)        Nottingham Forest
..         ...    ...                ...        ...                      ...
5   28/05/2023  16:30         Everton FC  1:0 (0:0)          AFC Bournemouth
6   28/05/2023  16:30     Southampton FC  4:4 (2:2)             Liverpool FC
7   28/05/2023  16:30       Leeds United  1:4 (0:1)        Tottenham Hotspur
8   28/05/2023  16:30     Leicester City  2:1 (1:0)          West Ham United
9   28/05/2023  16:30  Manchester United  2:1 (1:1)                Fulham FC

[380 rows x 5 columns]

In [54]:
tabla_sorted.columns = ["Date", "Hour", "Local", "Result", "Away"]

tabla_sorted

          Date   Hour              Local     Result                     Away
0   05/08/2022  20:00     Crystal Palace  0:2 (0:1)               Arsenal FC
1   06/08/2022  12:30          Fulham FC  2:2 (1:0)             Liverpool FC
2   06/08/2022  15:00    AFC Bournemouth  2:0 (1:0)              Aston Villa
3   06/08/2022  15:00       Leeds United  2:1 (1:1)  Wolverhampton Wanderers
4   06/08/2022  15:00   Newcastle United  2:0 (0:0)        Nottingham Forest
..         ...    ...                ...        ...                      ...
5   28/05/2023  16:30         Everton FC  1:0 (0:0)          AFC Bournemouth
6   28/05/2023  16:30     Southampton FC  4:4 (2:2)             Liverpool FC
7   28/05/2023  16:30       Leeds United  1:4 (0:1)        Tottenham Hotspur
8   28/05/2023  16:30     Leicester City  2:1 (1:0)          West Ham United
9   28/05/2023  16:30  Manchester United  2:1 (1:1)                Fulham FC

[380 rows x 5 columns]

In [56]:
#tabla_sorted[["Local Result", "Away Result"]] = tabla_sorted["Result"].str.split(' ', 3, expand=True)
tabla_sorted["Result"]= tabla_sorted["Result"].str.slice_replace(3, repl="")
tabla_sorted

          Date   Hour              Local Result                     Away
0   05/08/2022  20:00     Crystal Palace    0:2               Arsenal FC
1   06/08/2022  12:30          Fulham FC    2:2             Liverpool FC
2   06/08/2022  15:00    AFC Bournemouth    2:0              Aston Villa
3   06/08/2022  15:00       Leeds United    2:1  Wolverhampton Wanderers
4   06/08/2022  15:00   Newcastle United    2:0        Nottingham Forest
..         ...    ...                ...    ...                      ...
5   28/05/2023  16:30         Everton FC    1:0          AFC Bournemouth
6   28/05/2023  16:30     Southampton FC    4:4             Liverpool FC
7   28/05/2023  16:30       Leeds United    1:4        Tottenham Hotspur
8   28/05/2023  16:30     Leicester City    2:1          West Ham United
9   28/05/2023  16:30  Manchester United    2:1                Fulham FC

[380 rows x 5 columns]

In [59]:
tabla_sorted[["Local Result", "Away Result"]] = tabla_sorted["Result"].str.split(':', expand=True).astype(int)

tabla_sorted

,Date,Hour,Local,Result,Away,Local Result,Away Result
0,05/08/2022,20:00,Crystal Palace,0:2,Arsenal FC,0,2
1,06/08/2022,12:30,Fulham FC,2:2,Liverpool FC,2,2
2,06/08/2022,15:00,AFC Bournemouth,2:0,Aston Villa,2,0
3,06/08/2022,15:00,Leeds United,2:1,Wolverhampton Wanderers,2,1
4,06/08/2022,15:00,Newcastle United,2:0,Nottingham Forest,2,0
...,...,...,...,...,...,...,...
5,28/05/2023,16:30,Everton FC,1:0,AFC Bournemouth,1,0
6,28/05/2023,16:30,Southampton FC,4:4,Liverpool FC,4,4
7,28/05/2023,16:30,Leeds United,1:4,Tottenham Hotspur,1,4
8,28/05/2023,16:30,Leicester City,2:1,West Ham United,2,1
9,28/05/2023,16:30,Manchester United,2:1,Fulham FC,2,1

In [60]:
tabla_sorted.to_csv('fixtures22_23.csv')
tabla_sorted.to_excel('fixturesTEST.xlsx', sheet_name='Fixtures')

"with pd.ExcelWriter('D:\\IGNACI_STUFF\\FOOTBALL\\Football Results To League Table\\PremierLeague_23_24.xlsm',\n                    mode='a', if_sheet_exists='replace') as writer:  \n    df.to_excel(writer, sheet_name='Fixtures', index=False)"

In [62]:
'''with pd.ExcelWriter('D:\IGNACI_STUFF\FOOTBALL\Football Results To League Table\PremierLeague_23_24.xlsx', engine='openpyxl',
                    mode='a', if_sheet_exists='overlay') as writer:  
    df.to_excel(writer, sheet_name='Fixtures', index=False)'''

writer = pd.ExcelWriter('D:\IGNACI_STUFF\FOOTBALL\Football Results To League Table\PremierLeague_23_24.xlsm', engine='openpyxl',
                    mode='a', if_sheet_exists='overlay')

tabla_sorted.to_excel(writer, sheet_name='Fixtures', header=None)

writer.save()

C:\Users\PC\AppData\Local\Temp\ipykernel_18176\4010528666.py:10: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()